<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {# Bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!--Chart js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

<script>
    $(document).ready(function () {
        const labels = [
            {% for date in dates %}
                '{{ date }}',
            {% endfor %}
        ];

        const data = {
                labels: labels,
                datasets: [{
                    label: 'original',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [{% for originalData in original %}
                        '{{ originalData }}',
                    {% endfor %}],
                }, {
                    label: 'predicted',
                    backgroundColor: 'rgb(103,164,17)',
                    borderColor: 'rgb(103,164,17)',
                    data: [{% for predictedData in predicted %}
                        '{{ predictedData }}',
                    {% endfor %}],
                }
                ]
            }
        ;

        var delayed;
        const config = {
            type: 'line',
            data,
            options: {
                animation: {
                    onComplete: () => {
                        delayed = true;
                    },
                    delay: (context) => {
                        let delay = 0;
                        if (context.type === 'data' && context.mode === 'default' && !delayed) {
                            delay = context.dataIndex * 100 + context.datasetIndex * 100;
                        }
                        return delay;
                    },
                },
            }
        };
        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    });
</script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Stock Market Prediction</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Link</a>#}
{#                </li>#}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                       data-bs-toggle="dropdown" aria-expanded="false">#}
{#                        Dropdown#}
{#                    </a>#}
{#                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                        <li>#}
{#                            <hr class="dropdown-divider">#}
{#                        </li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#                </li>#}
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4 ">
    <div class="row d-flex justify-content-center">
        <div class="col-2">
            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;height: 100%">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #ffffff">Predicted Opening Price</h5>
                    <p class="card-text text-center" style="color: #ffffff">{{ predictedStockPrice }}</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-dark bg-secondary mb-3" style="max-width: 18rem; height: 100%">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #ffffff">Volume</h5>
                    <p class="card-text text-center" style="color: #ffffff">{{ volume }}</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;height: 100%">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #ffffff">Today's Opening Price</h5>
                    <p class="card-text text-center" style="color: #ffffff">{{ todaysOpeningPrice }}</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-dark bg-success mb-3" style="max-width: 18rem;height: 100%">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #ffffff">Today's Closing Price</h5>
                    <p class="card-text text-center" style="color: #ffffff">{{ todaysClosingPrice }}</p>
                </div>
            </div>
        </div>
    </div>


    <h1 class="mt-5 text-center" style="font-family: 'Lora', serif;"> Predictions</h1>
    <h5 class="mt-2 text-center" style="font-family: 'Inter', sans-serif;">BOEING STOCK</h5>
    <canvas class="mt-5" id="myChart" width="400" height="200"></canvas>
</div>


{#    Scripts#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous">
</script>

</body>
</html>